name: Deploy Next.js to S3

on:
  push:
    branches:
      - main  # o la rama que quieras usar para deploy

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.9.0'

      - name: Install dependencies
        run: npm install

      - name: Build and export Next.js
        run: |
          npm run build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  

      - name: Sync to S3
        run: |
          aws s3 sync out/ s3://newbank-frontend-dev --delete

      - name: Invalidate CloudFront
        run: |
          DISTRIBUTION_ID="ETG5R4FNBOV3B"
